:root {
    --color-bg: 78, 78, 48;
}

html {
    font-size: 100%;
}

body {
    color: --color-bg;
    font-size: 18px;
    font-family: -apple-system, -system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: linear-gradient(rgba(29, 131, 255, 0.9), transparent);
}

@keyframes cloud_moving {
    0% {
        background-position: 0 0;
    }
    20% {
        background-position: -4vw -3vw;
    }
    40% {
        background-position: 6vw -7vw;
    }
    60% {
        background-position: -2vw 4vw;
    }
    80% {
        background-position: 8vw 2vw;
    }
    100% {
        background-position: 0 0;
    }
}

.app {
    background-image: url("cloud.png");
    background-repeat: no-repeat;
    background-size: 15vw 20vw;

    background-position: 0px 0px;
    animation: cloud_moving 50s linear infinite;
}

.error {
    background-image: url("lightning.png");
}

.extra ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.extra li {
    margin: 30px;
    width: 210px;
    height: 254px;
    border-radius: 20px;
    border-radius: 50px;
    background: #eaeaea;
    box-shadow: 13px 13px 26px #c4c4c4, -13px -13px 26px #d1e0f9;
}
