$contour: 0px;
$base-color: #1f1f1f;

body {
    font-size: 100%;
    font-family: -apple-system, -system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: linear-gradient(rgba(15, 123, 255, 0.9), transparent);
    background-repeat: no-repeat;
    color: $base-color;
}

@keyframes cloud-moving {
    0% {
        background-position: 50% 15%;
    }
    20% {
        background-position: 30% 5%;
    }
    40% {
        background-position: 80% 20%;
    }
    60% {
        background-position: 40% 25%;
    }
    80% {
        background-position: 20% 10%;
    }
    100% {
        background-position: 50% 15%;
    }
}

.app {
    border: $contour dotted seagreen;
    background-image: url("cloud.png");
    background-repeat: no-repeat;
    background-size: 45% 40%;

    background-position: 0px 0px;
    animation: cloud-moving 50s linear infinite;

    margin: 0 auto;
    max-width: 700px;
}

.error {
    background-image: url("lightning.png");
}

.search {
    border: $contour dotted salmon;
    display: block;
    text-align: center;
}

.main {
    border: $contour dotted red;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sun {
    border: $contour dotted pink;
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    margin-top: -32px;
    display: flex;
    .rise {
        padding-right: 34px;
        border: $contour dotted pink;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .set {
        padding-left: 34px;
        border: $contour dotted pink;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.city {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .name {
        font-size: 2.0rem;
        font-weight: 700;
    }
    .time {
        font-size: 1.0rem;
        font-weight: 600;
    }

    svg {
        width: 2.0em;
        height: 2.0em;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
    }
    
    p{
        margin-top: -0.3rem;
    }
}

.weather {
    border: $contour dotted lightgreen;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin-top: -2rem;
        width: 128px;
    }
    .description{
        margin-top: -2rem;
        font-size: 0.8rem;
    }
}

.temperature{
    font-size: 3rem;
    font-weight: 700;
    margin-top: -0.75rem;
}
.temperature-feels{
    font-size: 1rem;
    margin-top: -3.25rem;
}
.temperature-range{
    font-size: 1.75rem;
    margin-top: -0.05rem;
}

.extra {
    border: $contour dotted darkblue;
    ul {
        margin: -2rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    li{
        margin: 1.7rem 0.5rem 3rem 0.5rem;
    }
}
ul{
    list-style: none;
    padding: 0;
}

li {
    width: 8rem;
    height: 12rem;
    border-radius: 20px;
    background: #eaeaea;
    background: linear-gradient(to bottom right, rgb(136, 203, 225), pink);
    box-shadow: 13px 13px 26px #c4c4c4, -13px -13px 26px #d1e0f9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    span {
        font-size: 1.25rem;
    }
    i {
        font-size: 2rem;
    }
}

.wind::after{
    content: ' \33a7'
}

.relative::after{
    content: ' %'
}

.atmospheric::after{
    content: ' \3371'
}

footer {
    border: $contour dotted lightgreen;
    text-align: center;
    margin-top: -0.5rem;
}
