@charset "UTF-8";
body {
  font-size: 100%;
  font-family: -apple-system, -system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: linear-gradient(rgba(15, 123, 255, 0.9), transparent);
  background-repeat: no-repeat;
  color: #1f1f1f;
}

@keyframes cloud-moving {
  0% {
    background-position: 50% 15%;
  }
  20% {
    background-position: 30% 5%;
  }
  40% {
    background-position: 80% 20%;
  }
  60% {
    background-position: 40% 25%;
  }
  80% {
    background-position: 20% 10%;
  }
  100% {
    background-position: 50% 15%;
  }
}
.app {
  border: 0px dotted seagreen;
  background-image: url("cloud.png");
  background-repeat: no-repeat;
  background-size: 45% 40%;
  background-position: 0px 0px;
  animation: cloud-moving 50s linear infinite;
  margin: 0 auto;
  max-width: 700px;
}

.error {
  background-image: url("lightning.png");
}

.search {
  border: 0px dotted salmon;
  display: block;
  text-align: center;
}

.main {
  border: 0px dotted red;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sun {
  border: 0px dotted pink;
  font-size: 1.2rem;
  color: rgb(63, 63, 63);
  margin-top: -32px;
  display: flex;
}
.sun .rise {
  padding-right: 34px;
  border: 0px dotted pink;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sun .set {
  padding-left: 34px;
  border: 0px dotted pink;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.city .name {
  font-size: 2rem;
  font-weight: 700;
}
.city .time {
  font-size: 1.0rem;
  font-weight: 600;
}
.city svg {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}
.city p {
  margin-top: -0.3rem;
}

.weather {
  border: 0px dotted lightgreen;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather img {
  margin-top: -2rem;
  width: 128px;
}
.weather .description {
  margin-top: -2rem;
  font-size: 0.8rem;
}

.temperature {
  font-size: 3rem;
  font-weight: 700;
  margin-top: -0.75rem;
}

.temperature-feels {
  font-size: 1rem;
  margin-top: -3.25rem;
}

.temperature-range {
  font-size: 1.75rem;
  margin-top: -0.05rem;
}

.extra {
  border: 0px dotted darkblue;
}
.extra ul {
  margin: -2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.extra li {
  margin: 1.7rem 0.5rem 3rem 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  width: 8rem;
  height: 12rem;
  border-radius: 20px;
  background: #eaeaea;
  background: linear-gradient(to bottom right, rgb(136, 203, 225), pink);
  box-shadow: 13px 13px 26px #c4c4c4, -13px -13px 26px #d1e0f9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
li span {
  font-size: 1.25rem;
}
li i {
  font-size: 2rem;
}

.wind::after {
  content: " ㎧";
}

.relative::after {
  content: " %";
}

.atmospheric::after {
  content: " ㍱";
}

footer {
  border: 0px dotted lightgreen;
  text-align: center;
  margin-top: -0.5rem;
}

/*# sourceMappingURL=style.css.map */
